!!!
%html
  %head
    %meta{:charset => "UTF-8"}/
    %title AdminTool 5K
  %body
    %script{:src => "javascripts/client-fastopt.js", :type => "text/javascript"}
    %script{:src => "lib/jquery-2.1.4.min.js", :type => "text/javascript"}
    %script{:src => "lib/bootstrap-3.3.5-dist/js/bootstrap.min.js", :type => "text/javascript"}
    %link{:href => "lib/bootstrap-3.3.5-dist/css/bootstrap.min.css", :rel => "stylesheet"}/
    %nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          %a.navbar-brand
            %b AdminTool5000
          %a.navbar-brand
            %small Bachelor thesis Simon Lischka
        %a.navbar-brand.pull-right
          .navbar-header
            %small Asynchronous client/server communication
    #login-container.container.hidden
      .jumbotron
        %h1 Hello, Admin!
        %p
          This is a colaborative shell hacking application for educational purposes.
          Enter a nickname to start administrating the remote system. As for passwords, for the moment we'll just
          trust you.
        .well
          %p
          %form.form-inline
            .form-group.has-error
              %label.control-label{:for => "name-field"} Nickname
              %input#name-field.form-control{:placeholder => "John Coffee", :type => "text"}/
            %button#login-button.btn.btn-primary{:type => "button"} Start hacking
        .alert.alert-danger{:role => "alert"}
          .alert-link ABC
    #main-container.container
      .row
        .col-md-8
          .jumbotron
            %h1 Hello, Bob!
            %p
              You are
              %button.btn.btn-success{:type => "button"} live
              %button.btn.btn-danger.hidden{:type => "button"} offline
              with 192.168.56.101
            .well
              .list-group
                / You can set active here and a href="#" instead of div
                .list-group-item
                  %h4.list-group-item-heading
                    %span.badge> Alice
                    \ ls -al
                  %p.list-group-item-text
                    %code
                      %h6
                        total 40
                        %br>/
                        drwxr-xr-x   8 funkdunhatta  staff   272  2 Okt 22:35 .
                        = succeed "drwxr-xr-x+\u{a0}77\u{a0}funkdunhatta\u{a0}\u{a0}staff\u{a0}\u{a0}2618\u{a0}\u{a0}3\u{a0}Okt\u{a0}23:21\u{a0}.." do
                          %br/
                        = succeed "-rw-r--r--@\u{a0}\u{a0}" do
                          %br/
                        = succeed "drwxr-xr-x\u{a0}\u{a0}15\u{a0}funkdunhatta" do
                          %br/
                        = succeed "-rw-r--r--\u{a0}\u{a0}\u{a0}1\u{a0}funkdunhatta\u{a0}\u{a0}staff" do
                          %br/
                        = succeed "drwxr-xr-x\u{a0}\u{a0}12\u{a0}funkdunhatta\u{a0}\u{a0}staff\u{a0}\u{a0}\u{a0}408\u{a0}" do
                          %br/
                        = succeed "-rw..." do
                          %br/
                  %h6.list-group-item-footer.text-right
                    %b 01.01.2015 15:30:42
                .list-group-item
                  %h4.list-group-item-heading
                    %span.badge> Bob
                    \ date
                  %p.list-group-item-text
                    %code
                      %h6
                        Di  6 Okt 2015 23:10:36 CEST
                        %br/
                  %h6.list-group-item-footer.text-right
                    %b 01.01.2015 14:30:42
              .input-group
                %input.form-control{:placeholder => "Run command on server...", :type => "text"}/
                %span.input-group-btn
                  %button.btn.btn-default{:type => "button"} Go
        .col-md-4
          .panel.panel-default
            .panel-heading
              %b Users connected
              .list-group
                %a.list-group-item{:href => "#"} Alice
                %a.list-group-item{:href => "#"} Bob
                %a.list-group-item{:href => "#"} Kptn Cook
            .panel-heading
              %b Top system stats
              13:30:41:50
              %table.table.table-striped.table-bordered
                %tr
                  %th PID
                  %th COMMAND
                  %th %CPU
                  %th TIME
                  %th MEM
                %tr
                  %td 4148
                  %td Google Chrome
                  %td 0.0
                  %td 00:01.82
                  %td 47M
    :javascript
      de.bht.lischka.adminTool5k.AdminTool5kClient().main()